_site
.jekyll-cache
pages/.DS_Store
pages/tags.md
_notes/.obsidian
_notes/Public/.obsidian
.obsidian/workspace.json
**pycache**
**.venv**
**.idea**
**_notes/200 Private**
**\.DS_Store**
\.DS_Store
.obsidian/**
.env
.vscode/**
