<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        I just want to talk about all things Python language related -
    </h3> 
        <ul>
            <li>- Nuances of the language itself </li>
            <li>- Its internals </li>
            <li>- Applications using Python </li>
            <li>- Data Science</li>
            <li>- ML Engineering</li>
            <li>- Machine Learning</li> 
        </ul>
            using Python. 

        The notes are all <a href="{{'/notes' | relative_url}}">here</a>.
        
</div> </div>

