{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<div class="post-meta">
  <a href="{{ "/blog/" | relURL }}" class="back-link">← All posts</a>
</div>
<h1>{{ .Title }}</h1>
<p class="post-info">
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
  <span class="reading-time">· {{ .ReadingTime }} min read</span>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

{{ with (.GetTerms "tags") }}
<aside class="post-tags" aria-label="Post topics">
  <span class="post-tags-label">Topics</span>
  <div class="post-tag-list">
    {{ range . }}
    <a class="post-tag" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{ end }}
  </div>
</aside>
{{ end }}
{{ end }}
